name: Format Check

on:
  push:
    branches:
      - main
      - dev
      - feat/**
  pull_request:
    branches:
      - main
      - dev

jobs:
  call-format:
    uses: ITH-Labs/.github/.github/workflows/dotnet-format.yml@main
    with:
      project_path: "./"
    permissions:
      contents: read
      packages: write
    
